/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/eista -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 1
    max_memory = '7.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    //input  = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'
    input = "${projectDir}/assets/samplesheet.csv"
    analyses = 'primary,secondary'
    args_qccellfilter = '--min_genes 1 --min_cells 1'
    args_clustering = '--resolutions 0.1,0.3,0.5,0.7'  
    args_spatialstats = '--cluster_keys leiden_res_0.70'
    tile_size = 1024
    // args_annotation = "--model_file ${projectDir}/assets/ctmodels/Human_Colorectal_Cancer.pkl" 
    // args_dea = '--groupby leiden_res_0.70 --groups 0,1,2,3,4,5' 
    // args_cellchat = '--mean_method truncatedMean'

    // Genome references
    //genome = 'R64-1-1'
}
